@import 'src/styles/imports';

.beachcard {
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
  font-size: 4rem;
  // width: 100vw;
  word-wrap: break-word;
  
  @include desktop {
    font-size: 10rem;

  }
}

.readingGroup {
  display: flex;
  flex-direction: column;
  
  @include desktop {
    margin-top: -2rem;
  }
}

.result {
  display: flex;
  align-items: start;
  // height: 50px;
  // line-height: 100px;
  vertical-align: text-top;
}

.subText {
}

.unit {
  font-size: 10px;
  margin-top: 10px;
  
  @include desktop {
    font-size: 16px;
    margin-top: 32px;
  }
}

.superScript {
  margin-left: 5px;
}

.reading {
  vertical-align: top;

  &.safe {
    color: #5d9c59;
  }

  &.unsafe {
    color: #df2e38;
  }
}


.time {
  color: grey;
  font-size: 9px;
}