@import 'src/styles/imports';

.beachcard {
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
  word-wrap: break-word;
}

.beachName {
  line-height: 3.5rem;
  font-size: 4rem;

  @include desktop {
    font-size: 10rem;
  }
}

.readingGroup {
  display: flex;
  flex-direction: column;
  margin-top: -.75rem;
  @include desktop {
    margin-top: -2rem;
  }
}

.result {
  display: flex;
  align-items: start;
  // height: 50px;
  // line-height: 100px;
  vertical-align: text-top;
}

.subText {
}

.unit {
  font-size: 10px;
}

.superScript {
  margin-left: 5px;
  margin-top: 12.5px;

  @include desktop {
    font-size: 16px;
    margin-top: 35px;
  }
}

.reading {
  vertical-align: top;
  font-size: 4rem;
  color: grey;

  @include desktop {
    font-size: 10rem;
  }

  &.safe {
    color: #5d9c59;
  }

  &.unsafe {
    color: #df2e38;
  }
}

.time {
  color: grey;
  font-size: 9px;
}
