@import 'src/styles/imports';

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 0;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  padding: 4rem;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 0;
  // background-color: blue;
  color: black;
  text-decoration: none;
  padding: 0;
  width: 50%;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.5rem;

  @include desktop {
    font-size: 4rem;
  }
}

.links {
  display: flex;
  flex-direction: row;
}


.link {
  color: black;
  font-size: 12px;
  text-decoration: none;

  font-weight: 300;
  margin-right: 4rem;

  @include desktop {
    font-size: 1rem;
  }
}